.flattened-pom.xml
target/
**/jcr_root/META-INF
**/resources/META-INF
.repository/
.releasebuild/
.serverDef/
.vlt
*.log
.npm/
node_modules/
node/
.vscode/
.idea
.idea/checks-style.xml
.project
.settings/
.classpath
.externalToolBuilders/
.DS_Store
*.iml
atlassian-ide-plugin.xml

# frontend
*.bundle.js
*.bundle.js.map
*.bundle.css
*.bundle.css.map
.flattened-pom.xml